/* Category Cards */
.catalog-categories {
  display: flex;
  gap: 25px;
  flex: 1;
  width: 100%;
}

.category-card {
  flex: 1;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.category-label {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 100%;*/
  writing-mode: vertical-rl;
  text-orientation: mixed;
  bottom: 5px;
  left: -25px;
}

.category-name {
  font-family: "Poppins", sans-serif;
  font-size: clamp(12rem, 1vw + 1rem, 15rem);
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
  margin: 0;
  margin-left: 2rem;
  letter-spacing: -5px;
  transform: rotate(180deg);
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .catalog-content {
    width: 95vw;
    height: auto;
    aspect-ratio: 1366 / 1024;
  }

  .category-name {
    font-size: clamp(7rem, 1vw + 1rem, 8rem);
  }
}

@media (max-width: 768px) {
  .catalog-content {
    border-radius: 20px;
    padding: 24px 16px;
  }

  .catalog-categories {
    flex-direction: column;
  }

  .category-name {
    color: #fff;
  }

  .catalog-top-menu .menu-left {
    gap: 16px;
  }

  .catalog-top-menu .menu-item {
    font-size: 14px;
  }

  .catalog-top-menu .logo {
    width: 80px;
    height: 80px;
  }
}