.bottom-menu {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
  width: 100%;
  flex-shrink: 0;
}

.bm-menu-section {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0.8;
  flex: 1;
}

.bm-back-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bm-back-icon img {
  width: 100%;
  height: 100%;
}

.bm-nav-links {
  display: flex;
  gap: 48px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  justify-content: space-between;

  flex: 1;
  color: #000;
}

.bm-nav-link {
  cursor: pointer;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  justify-content: space-between;
  font-size: 16px;
}

.bm-nav-link img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.bm-nav-link:hover {
  opacity: 0.7;
}

.bm-logo-section {
  height: 38px;
  width: 76px;
  position: relative;
}

.bm-logo {
  width: 110px;
  height: 110px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bm-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bm-menu-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  flex: 1;
  z-index: 1000;
}

.bm-profile-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.bm-profile-icon:hover {
}

@media (orientation: portrait) {
  .bottom-menu {
    display: flex;
  }
}

@media (max-width: 768px) {
  .bm-logo {
    width: 90px;
    height: 90px;
  }

  .bm-nav-links {
  }

  .bottom-menu {
    padding: 7px 16px;
    display: flex;
  }
}

@media (max-width: 490px) {
  .bm-logo {
    width: 90px;
    height: 90px;
  }

  .bm-nav-links {
  }
  .bm-nav-link {
    font-size: 12px;
  }

  .bm-nav-link img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}
