.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
  width: 100%;
  height: 52px;
  flex-shrink: 0;
}

.menu-section {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0.8;
  flex: 1;
}

.back-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.back-icon img {
  width: 100%;
  height: 100%;
}

.nav-links {
  display: flex;
  gap: 48px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #000;
}

.nav-link {
  cursor: pointer;
  transition: opacity 0.3s;
}

.nav-link:hover {
  opacity: 0.7;
}

.logo-section {
  height: 38px;
  width: 76px;
  position: relative;
}

.logo {
  width: 110px;
  height: 110px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex: 1;
  z-index: 1000;
}

.profile-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.profile-icon:hover {
}

@media (orientation: portrait) {
  .logo {
    width: 90px;
    height: 90px;
  }

  .nav-links {
    display: none;
  }

  .top-menu {
    /*padding: 7px 16px;*/
  }
}
