* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  /*width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;*/
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to right, #ffffff 39.074%, #d2d2d2 126.77%);
  padding: 20px 31px 31px 31px;
  gap: 25px;
}

.app-content {
  /*  background: linear-gradient(to right, #ffffff 39.074%, #d2d2d2 126.77%);*/
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  /*height: 100vh;
  padding: 44px 31px 31px 31px;*/
  flex: 1;
  overflow: scroll;
}

.portrate-menu {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px 16px;
  height: 7%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(210, 210, 210);
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
}

/* Responsive adjustments */
@media (max-width: 1400px) {
  .app-content {
  }
}

@media (max-width: 490px) {
  .App {
    padding: 0px 10px 0px 10px !important;
  }
}

@media (orientation: portrait) {
  .App {
    gap: 10px;
    background: linear-gradient(to top, #d2d2d2 0%, #ffffff 75%);
    padding-bottom: 10px;
  }

  .app-content {
    border-radius: 20px;
    /*padding: 24px 16px;*/
  }

  .app-content {
    /* padding-top: 10px;
    padding-bottom: 40px;*/
  }

  .portrate-menu {
    display: flex;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
